<h2>Curated Jokes</h2>

<form class="form-inline" (ngSubmit)="requestCuratedJokes(searchTerm)" [formGroup]="form">
  <div class="form-group mx-sm-6">
    <input type="hidden" formControlName="id" />
    <input
      type="text"
      class="form-control mb-2"
      placeholder="search term"
      formControlName="searchTerm"
    />
  </div>
  <button
    type="submit"
    [disabled]="form.invalid || !connectionEstablished"
    class="btn btn-primary mb-2" >
    Search
  </button>
</form>

<mat-tab-group *ngIf="curatedJokes">
  <mat-tab label="Short"> 
    <div *ngFor="let joke of curatedJokes.short">
    {{ joke }}
    </div>
  </mat-tab>
  <mat-tab label="Medium"> 
    <div *ngFor="let joke of curatedJokes.medium">
      {{ joke }}
    </div>  
  </mat-tab>
  <mat-tab label="Long">
    <div *ngFor="let joke of curatedJokes.long">
      {{ joke }}
    </div>
  </mat-tab>
</mat-tab-group>

