<div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5">
  <div class="mx-auto wrapper">
    <app-random-joke
    *ngIf="signalrConnectionEstablished$ | async; else loading"
    [jokeValue]="jokeValue$ | async"
    ></app-random-joke>
  </div>
</div>

<div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5">
  <div class="mx-auto wrapper">
    <app-curated
    [curatedJokes]="curatedJokes$ | async"
    [connectionEstablished]="signalrConnectionEstablished$ | async"
    (curatedJokesRequested)="requestCuratedJokes($event)"
    >loading</app-curated>
  </div>
</div>

<ng-template #loading>Loading...</ng-template>

